@font-face{font-family:'Poppins';font-style:normal;font-weight:600;font-display:swap;src:url(../fonts/Poppins-600.woff2) format('woff2');}
@font-face{font-family:'Poppins';font-style:normal;font-weight:700;font-display:swap;src:url(../fonts/Poppins-700.woff2) format('woff2');}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400 800;font-display:swap;src:url(../fonts/Roboto-400.woff2) format('woff2');}
@font-face{font-family:'Roboto Condensed';font-style:normal;font-weight:400 700;font-display:swap;src:url(../fonts/RobotoCondensed-400.woff2) format('woff2');}
