@font-face{font-family:'Archivo';font-style:normal;font-weight:100 900;font-display:swap;src:url(../fonts/Archivo.woff2) format('woff2');}
@font-face{font-family:'Archivo Narrow';font-style:normal;font-weight:100 900;font-display:swap;src:url(../fonts/ArchivoNarrow.woff2) format('woff2');}
